/* Documento CSS */
* {
    margin: 0px;
    padding: 0px;
}

/* Tipografía */
body {
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
}

h2 {
    text-align: center;
    font-size: 1.8em;
    color: rgb(0, 21, 255);

}

h1 {
    font-size: 1.5em;
    color: rgb(255, 255, 255);
}

/* Maquetación */

.profile {background-color: #000;
          color: #ffffff;
        padding: 4%;
        font-size: 1.5em;}

.cabecera {
    background-color: rgba(65, 186, 223, 0.567);
    padding: 2px;
    margin: 0%;
    font-size: 10px;
}

h2 { padding: 8px;}

.container {
    padding: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    background-color: whitesmoke;

}

.image-container {
    display: flex;
    justify-content: center;
}

.image {
    width: 240px; /* Ancho fijo para cada imagen */

    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
}

.section {
    margin: 90px;
    padding: 30px;
    border: 3px solid rgb(255, 234, 0);
    border-radius: 120px;
    background-color: #afbfe58e;
}

/* Contenedor de habilidades */
.skills-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    width: 100%;
}

.skills ul li {
    margin: 5px 0;
}

/* Información de contacto */
.contact-info {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0px 0;
    padding: 10px;
    background-color: rgba(118, 197, 139, 0.945);
}

.contact-info a {
    color: #78bd5c;
    text-decoration: none;
}

.iconos {
    font-size: 2em;
    width: 75px;
    text-align: center;
    color: #ffffff; 
    height: 75px;
    padding-top: 20px;
    margin-top: 50px;
}

.sociales {
    background-color: rgb(251, 144, 144);
    padding: 5px px;
    min-height: 1px;
}

.redes {
    display: flexbox;
    width: 614px;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px;  
    min-height: 5px;}

