/* Estilos generales */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #afff9b;
}

header {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    margin: 0;
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem;
}

section {
    flex: 1;
    margin: 1rem;
    padding: 1.5rem;
    background-color: #ffffff;
    border-radius: 8px;
    
}

section h2 {
    color: #000000;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

section ul, section ol {
    color: #3e4000;
}

section ul {
    margin: 0;
    padding-left: 20px;
}

section ol {
    margin: 0;
    padding-left: 20px;
}

.ingredientes { display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
     padding: 8%;}



@media (max-width: 768px) {
    .imagenes-ingredientes {
        flex-direction: column;
    }
    .imagenes-ingredientes img {
        width: 100%;
        margin: 10px 0;
    }
}
