/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tipografía */
body {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    line-height: 1.6;
}

h1 {font-size: 1.9em;}

h2 { text-align: center;
    font-size: 3em;}

/* Encabezado */
header {
    background-color: #bbbbbb;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}


main {
    padding: 0em;
}

section {
    margin-bottom: 2em;
    padding: 2em;
    border-radius: 8px;
}


.venecia {
    background-color: #ff8496;
    padding-right: 30%;
    padding-left: 30%;
}

.copenhague {
    background-color: #add8e6;
    padding-right: 30%;
    padding-left: 30%;
}

.rio {
    background-color: #8ffa9d;
    padding-right: 30%;
    padding-left: 30%;
}


section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 1em;
}

section p {
    text-align: center;
    font-size: 1.1em;
}


.images-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1em;
}

.images-container img {
    max-width: 48%;
}


footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    text-size-adjust: 5em;
}
